@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-Regular.ttf);
}

:root {
    --header-height: 50px
}

body {
    margin: 0;
}

.content {
    animation: appear .25s linear 0s;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: var(--header-height);
    padding-left: 10px;

    background-color: rgb(229, 228, 228);
    border-bottom: grey 1px solid;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.retirement-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 20px;
}

.retirement-form label,
.separater,
.add-btn {
    margin-bottom: 15px;
}

.retirement-form input,
.retirement-form select {
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}

.retirement-form input:focus {
    border: 3px solid black;
    outline: none;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.section-label {
    align-self: center;
    margin-top: 0;
}

.items-list {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 20px;
    background-color: gray;
    border: 1px solid black;
}

.add-btn {
    background-color: gray;
    color: white;
    align-self: flex-start;
}

.submit-btn {
    background-color: orange;
}

.add-btn,
.submit-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: scale .2s ease-in-out;
}

.add-btn:hover,
.submit-btn:hover {
    transition: scale .2s ease-in-out;
    scale: 1.1;
}

.separater {
    width: 100%;
    height: 2px;
    background-color: grey;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}